.container {
  background: #cfd8dc;
  padding: 10%;
}
.card {
  padding: 5%;
  text-align: center;
  border-radius: 10%;
  background: linear-gradient(to bottom, #0066ff 0%, #ffffff 100%);
}

.card button {
  width: fit-content;
}

label {
  color: #bf360c;
}
